/* 기본세팅(body) + 공통 */

body{
    min-width: 320px;
    word-break: break-all;
    color: #333;
    vertical-align: baseline;
    font-size: 13px;
    line-height: 1.2em;
    font-family: "Gilroy", "Noto Sans", sans-serif;
}


/* 공통코드 */
.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -1px;
}

/* 메인 h2 */
.title{
    padding: 0 16px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.title .top{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.36px;
    line-height: 1.3;
}
.title .bottom{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.48px;
    line-height: 1.3;
}

/* 뱃지스티커 */
.badge-new {
    position: relative;
}
.badge-new::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    /* height: 14px; */
    aspect-ratio: 1.785 / 1; 
    
    background-image: url(../images/badge_new.png);
    background-repeat: no-repeat;
    background-size: 100% auto; 
    /* 높이를 auto로 주고 그 auto의 비율을 1.785 / 1 로 주겠다.*/
    background-position: center center;
}
.badge-hot {
    position: relative;
}
.badge-hot::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    aspect-ratio: 1.02 / 1; 
    
    background-image: url(../images/badge_hot.png);
    background-repeat: no-repeat;
    background-size: 100% auto; 
    background-position: center center;
}

/* 메인 상품이름+가격 */
.productinfo-area{
    padding-top: 4px;
}
.productinfo-area .name{
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.56px;
    margin-bottom: 8px;
    font-size: 14px;
}
.price-area{
    display: flex;
    gap: 4px;
    line-height: 1.5;
    font-size: 14px;
}
.productinfo-area .price{
    font-weight: 700;
}
.productinfo-area .fixed{
    font-weight: 400;
    text-decoration: line-through; /* 취소선 */
}
.productinfo-area .per{
    color: var(--Accent-Purple500,#8e1f29);
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.3px;
}

/* 메인 더보기링크버튼 */
.more{
    margin: 33px auto 0;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    border: 1px solid #c8cbd2;
    height: 48px;
    color: #36393e;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    max-width: 300px; /* 페이지가 늘어나도 버튼 사이즈가 더 커지지 않게해줌 */
}

.modal { pointer-events: none; position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 999;}
.modal.modal-close { display: none;}
.modal .modal-centered { display: flex; justify-content: center; align-items: flex-end; height: 100%; padding: 36px 0;}
.modal .modal-box { pointer-events: auto; position: relative; width: 100%; max-width: 450px; border-radius: 16px; overflow: hidden;}
.modal .btn.close { position: absolute; top: 12px; right: 14px; width: 24px; height: 24px; z-index: 1;}
.modal .img-area { width: 100%; height: 100%;}