@import url(./reset.css);
@import url(./common.css);

/* 헤더 */
#header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    mix-blend-mode: difference;
    color: #fff;
    overflow-x: clip;
    font-family: AKIRA;
    pointer-events: none;
}
#header .inner{
    max-width: 154rem;
    margin: 0 auto;
    height: 100%;
    padding: 1.5rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
#header .logo{
    font-family: AMORIA;
    font-size: 16rem;
    line-height: 1;
    font-weight: 900;
    transform-origin: 0% 0%;
    pointer-events: auto;
}
#header .gnb{
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    pointer-events: auto;
}
#header .gnb.active{
    opacity: 1;
    visibility: visible;
}
#header .gnb .gnb-list{
    display: flex;
    gap: 3rem;
    padding: 0 2rem;
    font-size: 1.6rem;
}
#header .external{
    display: flex;
    gap: 1rem;
    pointer-events: auto;
}
#header .external a{
    padding:  1rem;
    border: 1px solid #fff;
    background: none;
    font-size: 1.2rem;
}
#header .external .link-notion {
    border-radius: 0.8rem;
}
#header .external .link-github {
    border-radius: 1.2rem;
}

/* 푸터 */
#footer {
    color: var(--main-color);
}
#footer .inner{
    position: relative;
    border-top: 1px solid var(--main-color);
    margin: 0 2rem;
    padding: 6rem 0;
}
#footer strong{
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
#footer .top{
    max-width: 60%;
    margin-bottom: 10rem;
}
#footer .info{
    max-width: 60%;
    word-break: keep-all;
}
#footer small{
    display: block;
    margin-top: 5rem;
    text-align: right;
}

#footer .wrap-flex{
    position: absolute;
    top: 0;
    margin-top: 6rem;
    right: 0rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
}
#footer .icon{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: invert(0);
}
#footer .icon-resume{
    background-image: url(../images/icon-resume.jpg);
    filter: invert(1);
}
#footer .icon-github{
    background-image: url(../images/icon-github.png);
}
#footer .icon-notion{
    background-image: url(../images/icon-notion.webp);
}

/* 푸터 마퀴 */
#footer .marquee-wrapper {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
#footer .marquee {
    display: block;
    font-size: 9rem;
    font-family: AMORIA;
    animation: scroll-left 20s linear infinite;
}
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}









/* 반응형처리 */
@media screen and (max-width: 1200px) {
    #header .gnb .gnb-list{
        display: flex;
        gap: 3rem;
        padding: 0 2rem;
        font-size: 2rem;
    }
    #footer{
        padding: 4rem 0 0;
    }
    #footer .top {
        margin-bottom: 6rem;
    }
}
@media screen and (max-width: 768px) {
    /* 헤더 */
    #header .inner{
        padding: 1.5rem;
    }
    #header .logo{
        font-size: 5.3rem;
    }
    #header .gnb .gnb-list{
        display: none;
    }
    #header .external a{
        padding: 0.5rem 1rem;
    }
    #header .external .link-notion {
        border-radius: 0.8rem;
    }
    /* 푸터 */
    #footer{
        height: 100%;
        padding: calc(var(--vh) * 10) 0 0;
    }
    #footer .inner{
        flex-direction: column;
        gap: 2rem;
        padding: 3rem 1.5rem;
    }
     #footer .top {
        margin-bottom: 3rem;
    }
    #footer .info{
        max-width: 100%;
    }
    #footer .left{
        width: 100%;
        font-size: 1.5rem;
        letter-spacing: 3px;
    }
    #footer .wrap-flex{
        display: flex;
        gap: 1rem;
        margin-top: 3rem;
        top: 0;
    }
    #footer .icon{
        width: 2.8rem;
        height: 2.8rem;
    }
    #footer .footer-copy{
        font-size: 1rem;
    }
}