.sc-visual{

    .swiper{
        &-wrapper{}
        &-slide{
            img{
                margin: 0 auto;
                width: 100%;
                object-fit: cover;
            }
        }
        
        .btns{
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 1200px;
            // 스와이퍼 js에서 이미 relative가 적용되어있을 것임.
            position: absolute;
            top: 0;
            // 크기주고 중앙정렬 시킴 : 중앙을 주고 그걸 기준으로 배치시키고 싶어서!
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            // background: #f00;
            z-index: 1;
            // 포인터선택에서 제외한 후, 자식에게 pointer-events: auto;를 주는 방법
            pointer-events: none;

            .btn{
                width: 23px;
                height: 40px;
                background: url(../images/arrow_w.png);
                border-width: 0px;
                pointer-events: auto;
                &.prev{
                    transform: translateX(-100%); /* 크기만큼 왼쪽으로 */

                } 
                &.next{
                    transform: translateX(100%) rotate(180deg); /* 크기만큼 오른쪽으로 */
                    
                } 
            }
        }

    }

    .swiper-pagination{
        display: flex; /* 애매한 여백이 위아래로 있어서 flex주었음 */
        justify-content: center;
        // background: #f00;
        bottom: 33px; /* 기본적으로 absolute속성을 가지고 있기때문에 bottom만 쓸 수 있음 */

        // 외우는 개념이 아니라 보고 가져다가 원하는값으로 바꿔 쓰는것
        &-bullet{
            width: 13px;
            height: 13px;
            border: 2px solid #fff;
            opacity: 1; /* 투명하게 하기 */
            background: none;

            // 스와이퍼 js에 있는 변수 이용해서 원하는값으로 바꿔준 것
            --swiper-pagination-bullet-horizontal-gap: 5px;
            &-active{
                background: #fff;
            }
        }
    }

}



// 메인페이지에서만 쓰는 공통코드(서브페이지에서는 안쓰일때)
.main-headline{
    font-size: 42px;
    font-family: $font-en;
    font-weight: 500; /* medium */
    text-align: center;
    line-height: 60px; // line-height만 공통으로 줘놓고, 마진은 각각 주도록 한다.
}

/* 이론 
&:nth-child(1)이라고 쓰면 태그 순서때문에 꼬일 수 있으므로, 
&:nth-of-type(1)이라고 사용하면 좋을 거 같다. */
.sc-service{
    .content{
        &:nth-of-type(even){
            .flex{
                flex-direction: row-reverse;
            }
        } 

        .main-headline{
            margin: 74px 0 57px;
        }
        .flex{
            display: flex;
            // gap: 67px;
            justify-content: space-between;
        }
        .thumb{}
        .info{
            // flex: 1;
            width: 520px;
            .desc{
                font-size: 18px;
                line-height: 28px;
                padding: 40px 0px 45px;
                word-break: keep-all;
            }
        }
    }
}


.sc-recomm{

    .main-headline{
        margin: 100px 0 53px;
    }
    
    .recomm-list{} 
    .recomm-item{
        padding: 93px 0;

        position: relative;
        .bg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1; /* 이미지로 백그라운드 효과 사용법 */
            object-fit: cover;
        }
        .info{
            position: relative;
            width: 370px;
            height: 330px;
            // 배경색에 투명도 주는 법(scss에서만 사용)
            background: rgba(#000, 0.5);
            color: #fff;
            padding: 26px 20px 0 20px;

            .title{
                font-weight: 700;
                font-size: 22px;
            }
            .desc{
                margin-top: 14px;
                font-size: 18px;
            }

            .link-detail{
                position: absolute;
                left: 25px;
                bottom: 32px;

                border: 2px solid #fff;
                &:hover{
                    background: #fff;
                    color: #222;
    }
            }

        }
    }
}


.sc-event{
    margin-top: 100px;
    
    .event-list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 50px 102px;
    }

    .event-item{
        min-width: 0;

        .thumb{}
        .info{
            margin-top: 23px;
            display: flex;
            flex-direction: column;

            .time{
                font-size: 18px;
                line-height: 28px;
                color: #858585
            }
            .title{
                margin-top: 10px;
                font-size: 22px;
                line-height: 32px;
                font-weight: 700;

                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            .desc{
                margin-top: 8px;
                font-size: 18px;
                line-height: 28px;
                // white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            .link-detail{
                margin-top: 25px;
            }
        }
    }
}


.sc-review{

    .main-headline{
        padding: 73px 60px;
    }

    .content{
        position: relative;
        padding: 0 75px 110px 75px;
        margin: 0 -75px;
    }
    // 버튼이 .swiper 안에 있으므로 .swiper에 ralative
    .swiper{

        &-wrapper{}
        &-slide{

            .flex{
                display: flex;
                align-items: center;
                gap: 60px;

                .thumb{
                    // flex : grow shirink basis 
                    // flex1 = grow_1 shirink_1 basis_auto
                    // flex: 1 0 520px;

                    flex: 1;
                }
                .info{
                    flex: 1;

                    .title{
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 32px;
                    }
                    .desc{
                        font-size: 18px;
                        line-height: 35px;
                        margin-top: 7px;
                    }

                    .link-detail{
                        margin-top: 26px;
                    }
                }
            }

            
        }

    }
    .btns{
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 1200px;
        // 스와이퍼 js에서 이미 relative가 적용되어있을 것임.
        position: absolute;
        top: 0;
        // 크기주고 중앙정렬 시킴 : 중앙을 주고 그걸 기준으로 배치시키고 싶어서!
        left: 50%;
        transform: translateX(-50%);
        height: calc(100% - 110px);
        // background: #f00;
        z-index: 1;
        // 포인터선택에서 제외한 후, 자식에게 pointer-events: auto;를 주는 방법
        pointer-events: none;

        .btn{
            border-width: 0px;
            width: 23px;
            height: 40px;
            background: url(..//images/arrow.png);
            pointer-events: auto;
            &.prev{
                transform: translateX(-100%); /* 크기만큼 왼쪽으로 */

            } 
            &.next{
                transform: translateX(100%) rotate(180deg); /* 크기만큼 오른쪽으로 */
            } 
        }
    }
    .swiper-pagination{
        display: flex; /* 애매한 여백이 위아래로 있어서 flex주었음 */
        justify-content: center;
        // background: #f00;
        bottom: 63px; /* 기본적으로 absolute속성을 가지고 있기때문에 bottom만 쓸 수 있음 */

        // 외우는 개념이 아니라 보고 가져다가 원하는값으로 바꿔 쓰는것
        &-bullet{
            width: 13px;
            height: 13px;
            border: 2px solid #dddddd;
            opacity: 1; /* 투명하게 하기 */
            background: none;

            // 스와이퍼 js에 있는 변수 이용해서 원하는값으로 바꿔준 것
            --swiper-pagination-bullet-horizontal-gap: 5px;
            &-active{
                background: #dddddd;
            }
        }
    }
}



.board-inner{
    display: flex;
    gap: 80px;
}

.sc-board{
    flex: 1;
    .group-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title{
            font-family: $font-en;
            font-size: 22px;
            font-weight: 500;
            line-height: 32px;
            padding: 18px 10px 16px;
        }
        .link-more{
            width: 30px;
            height: 30px;
            background: url(../images/ic_plus.png);
        }
    }

    .board-list{
        
    }
    .board-item{
        padding: 19px 10px;
        border-top: 3px solid #888888;
        
        & + .board-item{
            border-top: 1px solid #888888;
            
        }
        &:nth-last-child(1){
            border-bottom: 1px solid #888888;
        }
        
        .board-content{
            display: flex;
            gap: 26px;

            .time{
                color: #888888;
                font-size: 16px;
                line-height: 26px;
            }
            .title{
                // margin-left: 26px;
    
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
    
            }
        }

    }
}