@import url(./reset.css);
@import url(./common.css);
/* svg 나중에 한번에 모아두고 .svg로 쓸 수 있도록 처리하기 필요 */
/* 헤더 */
#header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    width: 100%;
    transition: .5s;
    transform: translateY(0);
}
#header::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0px;
    background: #fff;
    transition: .3s;
}
#header.hov::before{
    height: 64px;
}

#header.scroll{
    /* opacity: 0; */
    transform: translateY(-100%);
}
#header .header-inner{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 95px;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}
#header h1{
    display: flex;
    align-items: center;
}
#header .logo-img svg{
    display: block;
    height: 31px;
}
#gnb{
    position: absolute;
    left: 50%;
    /* width: 100%; */
    transform: translateX(-50%);
}

#gnb .gnb-list{
    position: relative;
    height: 95px;
    display: flex;
}
#gnb .gnb-item{
    /* position: relative; */
    display: flex;
    align-items: center;
}
#gnb .link-gnb{
    padding: 0 15px;
}
#gnb .link-gnb:hover{
    font-weight: 700;
}
#gnb .gnb-item:last-child:after{
    content: "BETA";
    color: rgba(35,35,36,.5);
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    /* position: absolute; */
    margin-left: -15px;
    margin-top: -10px;
    transform: scale(.8);
}
#gnb .sub-area{
    position: absolute;
    height: 64px;
    width: 100%;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
#gnb .sub-area.on{
    opacity: 1;
    visibility: visible;
    transition: opacity .3s .1s;
}
#gnb .sub-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#gnb .sub-item{
    color: #d6d7da;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: -.2px;
    white-space: nowrap;
    padding: 0 15px;
    transition: color .2s;
}
#gnb .sub-item.active{
    color: #232324;
    font-weight: 700;
}


#header .utils{
    margin-left: auto;
}
#header .util-list{
    display: flex;
}
#header .util-item{
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 95px;
}
#header .link-util{
    display: flex;
    align-items: center;
    padding: 0 12px;
}
#header .link-util:hover{
    font-weight: 700;
}
#header .link-util::after{
    content: '';
    width: 8px;
    height: 8px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg' class=''%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.354 0h1v6.5h-1V1.707L.707 7.354 0 6.646 5.646 1H.854V0h5.5z' fill='%23232324'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
#header .language{
    height: 36px;
    width: 36px;
    color: #d6d7da;
    font-weight: 700;
}
#header .language.active{
    color: #232324;
}
#header .language.eng{
    position: relative;
}
#header .language.eng::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 10px;
    margin-top: -5px;
    background-color: #d6d7da;
}

/* 푸터 */
#footer{
    color: #37373a;
    letter-spacing: -.02em;
    padding: 60px 24px 85px;
    background-color: #f3f4f5;
}
#footer .footer-inner{
    position: relative;
    max-width: 1186px;
    margin: 0 auto;
    padding: 0 7px;
}
#footer .footer-list{
    display: flex;
}
#footer .footer-item{
    flex: 1;
    margin-top: 8px;
    padding-right: 8px;
    line-height: 1.4;
}
#footer .link-footer{
    line-height: 1.75;
    font-weight: bolder;
}
#footer .link-footer.category{
    display: block;
    margin-bottom: 8px;
}

#footer .depth2-item{
    color: #6c6d6f;
    font-size: 14px;
    margin-top: 8px;
    padding-right: 8px;
    line-height: 1.4;
}
#footer .depth2-item strong{
    line-height: 1.75;
    font-weight: bolder;
}

#footer .footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: end;

}
#footer .footer-bottom .left{
    margin: 28px 0 0 0;
}
#footer .footer-bottom .footer-title{
    display: block;
    font-weight: 700;
    line-height: 1.75;
    margin-bottom: 8px;
}
#footer .footer-bottom .address{
    font-size: 14px;
    line-height: 1.71429;
    display: flex;
}
#footer .footer-bottom .address-txt{
    display: flex;
}
#footer .footer-bottom .address-txt + .address-txt::before{
    content: '|';
    display: block;
    margin: 0 4px;
}

#footer .footer-bottom .btn-family{
    position: relative;
    width: 327px;
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 16px;
    background: rgb(255, 255, 255);
    border: solid 1px rgb(166, 167, 169);
    border-radius: 8px;
}
#footer .footer-bottom .site-area{
    position: relative;
}
#footer .footer-bottom .family-area{
    font-size: 14px;
    position: absolute;
    bottom: 100%;
    right: 0;
    overflow: auto;
    width: 100%;
    max-height: 215px;
    margin-bottom: 4px;
    box-shadow: 2px 4px 10px rgba(0,0,0,.08);
    border: 1px solid #a6a7a9;
    border-radius: 8px;
    background: #fff;
    width: 100%;

    opacity: 0;
    visibility: hidden;
    transform: translateY(4px);
    transition: .5s;
}
#footer .footer-bottom .family-area.open{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

#footer .footer-bottom .btn-family svg{
    transition: transform 0.3s ease;
}
#footer .footer-bottom .btn-family.rotate svg {
    transform: rotate(-180deg);
}

/* 우아한형제들 css에서 스크롤바값을 가져옴 */
#footer .footer-bottom .family-area::-webkit-scrollbar{
    /* 스크롤바의 너비 */
    width: 5px;
    height: 5px
}
#footer .footer-bottom .family-area::-webkit-scrollbar-thumb{
    height: 30%; /* 스크롤바의 길이 */
    /* 스크롤바의 색상 */
    border-radius: 2.5px;
    background-color: rgba(0,0,0,.15)
}
#footer .footer-bottom .family-area::-webkit-scrollbar-track{
    background-color: transparent
}

#footer .footer-bottom .family-item + .family-item .link-family{
    border-top: 1px solid #f3f4f5;
}
#footer .footer-bottom .family-item:hover{
    background-color: #f3f4f5;
}
#footer .footer-bottom .link-family{
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0 16px;
}



/* 1920~320 */
/* 반응형 : 미디어쿼리 */
.btn-hamburger{
    display: none;
}
@media (max-width:1280px) { /* 981을 바라본 후, */
    #footer .footer-bottom .right{
        width: 100%;
    }
    #footer .footer-bottom .btn-family {
        width: 100%;
    }
    #footer .footer-bottom .address {
        display: block;
    }
    #footer .footer-bottom .left {
        width: 100%;
    }
}

@media (max-width:1040px) {
    #header .util-item:nth-child(1),#header .util-item:nth-child(2) {display: none;}
}

@media (max-width:980px) { /* 751을 바라본 후, */
    #header .header-inner {height: 63px;}
    #header .logo-img svg{height: 23px;}
    #gnb {display: none;}
    #header .utils {display: none;}
    .btn-hamburger{display: block;}

    #footer .footer-bottom {
        flex-direction: column-reverse;
        gap: 28px;
        align-items: start;
        margin-top: 40px;
    }
}

@media (max-width:750px) { /* 320을 바라본 후, */
    #footer .footer-list  {
        flex-wrap: wrap;
    }
    #footer .footer-item  {
        flex: none;
        min-width: 33.3334%;
        margin-bottom: 40px;
    }
    #footer .footer-item.last {
        color: #6c6d6f;
        font-size: 12px;
        line-height: 1.6666666667;
        flex-basis: 100%;
        margin-top: 6px;
        padding-top: 40px;
        border-top: 1px solid #d6d7da;
    }
    #footer .footer-item.last .depth2-list{
        display: flex;
        flex-wrap: wrap;
    }
    #footer .footer-item.last .depth2-item{
        flex-basis: 50%;
    }
    #footer .footer-bottom .address-txt {
        font-size: 12px;
        line-height: 1.6666666667;
    }
    #footer .footer-bottom .address-txt + .address-txt::before {
        display: none;
    }
    #footer .footer-bottom .address {
        display: block;
    }
}



